<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <%# <%= link_to 'Add Plant', new_plant_path, class: 'button-blue' %>
  <div class="container">
    <h1>FleurFairy</h1>
    <p>Share your plants for a magical world</p>
  </div>
</div>
