<ul class="dropdown">
  <li><a href="/">Dropdown 1 </a></li>
  <li><a href="/">Dropdown 2</a></li>
  <li><a href="/">Dropdown 2</a></li>
  <li><a href="/">Dropdown 3</a></li>
  <li><a href="/">Dropdown 4</a></li>
</ul>
