<footer class="footer">
  <div class= "footer-content container">
    <div class= "footer-social-icons">
    <h3 class="footer-social-icons-header"> Follow us </h3>
      <ul class="list-inline">
        <li class="list-item list-inline-item">
          <a class="footer-social-icons-item" href="https://www.facebook.com/lewagon/" target="_blank" arial-label="Facebook">
          <i class="fab fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-tiktok"></i>
          </a>
        <li class="list-item list-inline-item">
          <a class="footer-social-icons-item" href="https://www.instagram.com/lewagongermany/?hl=en" target="_blank" aria-label="Instagram">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
