<footer class="footer">
  <div class= "footer-content container">
    <div class= "footer-social-icons">
    <h3 class="footer-social-icons-header"> Follow us </h3>
      <ul class="list-inline">
        <li class="list-item list-inline-item">
          <a class="footer-social-icons-item" >
          <i class="fab fa-facebook" href="https://www.facebook.com/lewagon/" target="_blank" arial-label="Facebook"></i>
          <i class="fa-brands fa-twitter" href="https://www.twitter.com/lewagon/" target="_blank" arial-label="Facebook"></i>
          <i class="fa-brands fa-tiktok" href="https://www.tiktok.com/lewagon/" target="_blank" arial-label="Facebook"></i>
          </a>
      </ul>
    </div>
  </div>
</footer>
