// Define variables for your color scheme

// For example:
$blue: #04ACB5;
$light_beige: #FFF1DC;
$dark_beige: #E8D5C4;
$red: #FD1015;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$orange: orange;
