@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

$button: "Catamaran";
$body-font: "Catamaran";
$headers-font: "Catamaran";

h1 {
  color: #04ACB5;
}

.button-small {display: flex;
}
