<p><strong>Booking</strong></p>
<%# <ul class="list-group"> %>
  <%#@booking.plants.each do |plant| %>
    <%# <li class="list-group-item"> %>
      <%#= plant.title %>
    <%# </li> %>
  <%# end %>
<%# </ul> %>
