<h1>Bookings#show</h1>

<p><strong>Booking</strong></p>
<div class= "card"></div>
<ul class="list-group">
    <li class="list-group-item">
      <%= @booking.plant.title %>
    </li>
    </div>
</ul>
