<div class="container">
    <h1><%= @plant.title %></h1>
      <div class="card" style="width: 18rem;">
        <%# image_tag "https://source.unsplash.com/featured/?flat&#{rand(1..100)}", class: "card-img-top" %>
      </div>
      <%= link_to  "Delete", plant_path(@plant), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <%= link_to 'Back', plants_path(@plants) %>
</div>
