.button-blue {display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
// position: absolute;
width: 179px;
height: 51px;
background: #04ACB5;
box-shadow: 0px 4px 15px rgba(46, 46, 46, 0.15);
border-radius: 30px;
font-weight: 500;
font-size: 18px;
font-family: 'Catamaran';
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
color: #E8D5C4;
text-decoration: none;
}

.button-blue:hover {
  background: #E8D5C4;
  color: #04ACB5;
  opacity: 0.8;
  box-shadow: 0px 8px 30px rgba(46, 46, 46, 0.15);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
