.cardss--img {
  position: absolute;
  width: 1280px;
  height: 489px;
  background: url(image);
}

.cardss--link{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.cardss--infos {
  // overflow: hidden;
  background: rgb(245,245,220);
  position: relative;
  width: 400px;
  height: 70px;
}

.cardss--title {
  font-family: 'Catamaran';
  position: absolute;
  top: 10px;
  left: 10px;
}

.cardss--price {
  font-family: 'Catamaran';
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.cardss--infos h3 {
  font-family: 'Catamaran';
  font-size: 16px;
  font-weight: bold;
}

.cardss--infos p {
  font-family: 'Catamaran';
  font-size: 12px;
  opacity: .7;
}
.cardss--price p {
  font-family: 'Catamaran';
  font-size: 12px;
  font-weight: bold;
}
.cardss--boxx {
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  position: absolute;
  width: 1280px;
  height: 140px;
  left: 0px;
  top: 643px;
  background: #FFFFFF;
  border: 1px solid #04ACB5;
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.cardss--box {
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  position: absolute;
  width: 1280px;
  height: 176px;
  left: 0px;
  top: 814px;
  background: #FFFEFE;
  border: 1px solid #04ACB5;
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.cards--boxxx {
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  position: absolute;
  width: 1280px;
  height: 388px;
  left: 0px;
  top: 1026px;
  background: #FFFFFF;
  border: 1px solid #04ACB5;
  box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.cards-buttonn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 32px;
  gap: 15px;
  position: absolute;
  width: 509px;
  height: 52px;
  left: 385px;
  top: 1497px;
  background: #04ACB5;
  border: 1px solid #04ACB5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.cardss--link{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
