.all-plants {
margin-top: 30px;
margin-bottom: 30px;
}

.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  position: relative;
}

.card {
  height: 300px;
  border-radius: 7px;
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card:hover {
  transform: scale(1.03);
}

.card-img {
  height: 80%;
  object-fit: contain;
  background-size: cover;
  border-radius: 7px;
}

.card-infos {
  // overflow: hidden;
  background: white;
  position: relative;
  width: 100%;
  height: 20%;
  border-radius: 7px;
}

.card-link{
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-title {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card-price {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.card-booking {
  border-radius: 7px;
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
  margin-bottom: 30px;
}

.card-infos h3 {
  font-size: 16px;
  font-weight: bold;
}

.card-infos p {
  font-size: 12px;
  opacity: .7;
}

.card-price p {
  font-size: 12px;
  font-weight: bold;
}
