.my-plant{
  border: 1px solid #04ACB5;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.show-my-plant{
  margin-top: 30px;
  width: 50%;
  margin-bottom: 30px;
}
