.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}


.navbar-brand img {
  width: 60px;
  margin-left: 30px;
}

.nav-item {
  padding-left: 30px;
  padding-right: 30px;
}

.nav-link:hover {
  color:#04ACB5;
}

.login {
  padding-top: 10px;
  padding-right: 10px;
}
