<div class = "container show-my-plant">

  <div >
    <h1 style="color: #04ACB5;">Post your Review </h1>
  </div>

  <%= simple_form_for [@plant, @review] do |f| %>

    <div class="form-inputs">
      <%= f.input :content, label: "Review", placeholder: "Type your review here" %>
      <%= f.input :rating, label: "Rating", placeholder: "Type your rating here" %>
    </div>

    <div>
      <%= f.button :submit, class:"button-blue" %>
    </div>

  <% end %>

</div>
